<footer id="footer">
    <div class="container">
        <div class="footer_content">
            <div class="footer_content_top">
                <div class="logo">
                    <img src="./images/logo_1.svg" alt="logo">
                    <img src="./images/logo_2.svg" alt="logo">
                </div>
                <div class="social">
                    <a href="#" target="_blank" class="social_link">
                        <img src="/images/Instagram.svg" alt="Instagram">
                    </a>
                    <a href="#" target="_blank" class="social_link">
                        <img src="/images/TikTok.svg" alt="TikTok">
                    </a>
                    <a href="#" target="_blank" class="social_link">
                        <img src="/images/Whatsapp.svg" alt="Whatsapp">
                    </a>
                </div>
            </div>
            <div class="footer_content_bottom">
                <p>Copyright ©2025 All rights reserved</p>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>