@font-face {
    font-family: 'JD Serif';
    src: url('/fonts/JDSerif-Bold.eot');
    src: url('/fonts/JDSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/JDSerif-Bold.woff2') format('woff2'),
        url('/fonts/JDSerif-Bold.woff') format('woff'),
        url('/fonts/JDSerif-Bold.ttf') format('truetype'),
        url('/fonts/JDSerif-Bold.svg#JDSerif-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amiko';
    src: url('/fonts/Amiko-Bold.eot');
    src: url('/fonts/Amiko-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Amiko-Bold.woff2') format('woff2'),
        url('/fonts/Amiko-Bold.woff') format('woff'),
        url('/fonts/Amiko-Bold.ttf') format('truetype'),
        url('/fonts/Amiko-Bold.svg#Amiko-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}